<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="index.css" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <title>DISC 免费性格测试</title>
  </head>
  <body>
    <div id="app">
      <div class="top">
        <h1 class="top_title">DISC 免费性格测试</h1>
        <p class="top_desc">
          在每一个大标题中的四个选择题中只选择一个最符合你自己的,并在英文字母后面做记号。一共
          40 题。不能遗漏。
        </p>
        <p class="top_desc">
          注意:请按第一印象最快的选择,如果不能确定,可回忆童年时的情况,或者以你最熟悉的人对你的
          评价来从中选择。
        </p>
      </div>
      <el-form
        :model="ruleForm"
        :rules="rules"
        ref="ruleForm"
        label-width="100px"
        class="demo-ruleForm form_content"
      >
        <el-form-item class="input_name" prop="name">
          <el-input v-model="ruleForm.name" placeholder="请输入姓名"></el-input>
        </el-form-item>

        <el-form-item prop="date">
          <el-date-picker
            v-model="ruleForm.date"
            type="date"
            placeholder="选择日期"
          >
          </el-date-picker>
        </el-form-item>
        <el-form-item
          :label="index + 1 + ':'"
          v-for="(item,index) in ruleData"
          :key="index"
          :prop="itemValue[index].question_value"
        >
          <el-radio-group v-model="itemValue[index].question_value">
            <el-radio
              class="single_line"
              v-for="(itemSon, index) in item"
              :label="itemSon.label"
              :key="index"
            >
              {{ itemSon.content }}
            </el-radio>
          </el-radio-group>
        </el-form-item>
        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')"
            >提交</el-button
          >
        </el-form-item>
      </el-form>
    </div>
  </body>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: "#app",
      data() {
        return {
          ruleForm: {
            date: "",
            name: ""
          },
          ruleData: [
            [
              {
                content: "富于冒险:愿意面对新事物并敢于下决心掌握的人",
                label: "D"
              },
              {
                content: "适应力强:轻松自如适应任何环境",
                label: "S"
              },
              {
                content: "生动:充满活力,表情生动,多手势",
                label: "I"
              },
              {
                content: "善于分析:喜欢研究各部分之间的逻辑和正确的关系。",
                label: "C"
              }
            ],
            [
              {
                content: "坚持不懈：要完成现有的事才能做新的事情",
                label: "C"
              },
              {
                content: "喜好娱乐：开心充满乐趣与幽默感",
                label: "I"
              },
              {
                content: "善于说服：用逻辑和事实而不用威严和权利服人",
                label: "D"
              },
              {
                content: "平和：在冲突中不受干扰，保持平静",
                label: "S"
              }
            ],
            [
              {
                content: "顺服：易接受他人的观点和喜好，不坚持己见",
                label: "S"
              },
              {
                content: "自我牺牲：为他人利益愿意放弃个人意见",
                label: "C"
              },
              {
                content: "善于社交：认为与人相处是好玩，而不是挑战或者商业机会",
                label: "I"
              },
              {
                content: "意志坚定：决心以自己的方式做事",
                label: "D"
              }
            ]
          ],
          itemValue: [
            {
              question_value: ""
            },
            {
              question_value: ""
            },
            {
              question_value: ""
            }
          ],
          rules: {
            name: [{ required: true, message: "请输入姓名", trigger: "blur" }],
            date: [
              {
                type: "date",
                required: true,
                message: "请选择日期",
                trigger: "change"
              }
            ]
          }
        };
      },
      methods: {
        checkRadioValue(index, value) {
          if (!value) {
            alert(`请勾选第${index + 1} 题！`);
          }
        },
        submitForm(formName) {
          var D = 0;
          var I = 0;
          var S = 0;
          var C = 0;

          var goToResultArray = [];
          var array = Object.values(this.itemValue);

          this.$refs[formName].validate(valid => {
            if (valid) {
              for (var i = 0; i < array.length; i++) {
                var value = array[i].question_value;
                if (value === "D") {
                  D++;
                  goToResultArray.push(value);
                } else if (value === "I") {
                  I++;
                  goToResultArray.push(value);
                } else if (value === "S") {
                  S++;
                  goToResultArray.push(value);
                } else if (value === "C") {
                  C++;
                  goToResultArray.push(value);
                } else {
                  this.checkRadioValue(i, value);
                  break;
                }
              }
              if (goToResultArray.length === array.length) {
                // 1. 传送数据到数据库
                // let pushData = {
                //   dNum: D,
                //   iNum: I,
                //   sNum: S,
                //   cNum: C,
                //   name: this.ruleForm.name,
                //   date: this.ruleForm.date
                // };
                // api.post();
                // 2. 跳转到结果页
                this.goToResult(
                  D,
                  I,
                  S,
                  C,
                  this.ruleForm.name,
                  this.ruleForm.date
                );
              }
            } else {
              return false;
            }
          });
        },
        goToResult(D, I, S, C, name, date) {
          let personInfo = {
            D: D,
            I: I,
            S: S,
            C: C,
            name: name,
            date: date
          };

          localStorage.personInfo = JSON.stringify(personInfo);

          window.location.href = "result.html";
        }
      }
    });
  </script>
</html>
