.container {
  margin: 0;

  font-family: sans-serif;
  font-size: 100%/1.5;
}
.top,
.form_content {
  padding: 1em calc(50% - 350px);
}
.input_name {
  width: 320px;
}
.top_title {
  text-align: center;
}
.form_content_btn {
  display: inline-block;

  margin: 0;
  box-sizing: border-box;
  border: 1px solid #67c23a;
  border-radius: 20px;

  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  text-align: center;
  white-space: nowrap;

  color: #fff;
  background: #67c23a;

  outline: none;

  transition: 0.1s;

  cursor: pointer;
}
.single_line {
  margin-top: 12px;
  width: 600px;
}
p {
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB,
    Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 27.2px;
  word-break: break-word;

  color: #2f2f2f;
}
