<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <!-- import CSS -->
    <link
      rel="stylesheet"
      href="https://unpkg.com/element-ui/lib/theme-chalk/index.css"
    />
    <link rel="stylesheet" href="index.css" />
  </head>
  <body>
    <div id="app">
      <div class="top">
        <h1 class="top_title">DISC 免费性格测试</h1>
        <p class="top_desc">
          在每一个大标题中的四个选择题中只选择一个最符合你自己的,并在英文字母后面做记号。一共
          40 题。不能遗漏。
        </p>
        <p class="top_desc">
          注意:请按第一印象最快的选择,如果不能确定,可回忆童年时的情况,或者以你最熟悉的人对你的
          评价来从中选择。
        </p>
      </div>
      <el-form
        :model="ruleForm"
        :rules="rules"
        ref="ruleForm"
        label-width="100px"
        class="demo-ruleForm form_content"
      >
        <el-form-item label="一:" prop="question_one">
          <el-radio-group v-model="ruleForm.question_one">
            <el-radio class="single_line" label="D"
              >富于冒险:愿意面对新事物并敢于下决心掌握的人</el-radio
            >
            <el-radio class="single_line" label="S"
              >适应力强:轻松自如适应任何环境</el-radio
            >
            <el-radio class="single_line" label="I"
              >生动:充满活力,表情生动,多手势</el-radio
            >
            <el-radio class="single_line" label="C"
              >善于分析:喜欢研究各部分之间的逻辑和正确的关系。</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="二:" prop="question_two">
          <el-radio-group v-model="ruleForm.question_two">
            <el-radio class="single_line" label="C"
              >坚持不懈：要完成现有的事才能做新的事情</el-radio
            >
            <el-radio class="single_line" label="I"
              >喜好娱乐：开心充满乐趣与幽默感；</el-radio
            >
            <el-radio class="single_line" label="D"
              >善于说服：用逻辑和事实而不用威严和权利服人</el-radio
            >
            <el-radio class="single_line" label="S"
              >平和：在冲突中不受干扰，保持平静</el-radio
            >
          </el-radio-group>
        </el-form-item>

        <el-form-item label="三:" prop="question_three">
          <el-radio-group v-model="ruleForm.question_three">
            <el-radio class="single_line" label="S"
              >顺服：易接受他人的观点和喜好，不坚持己见</el-radio
            >
            <el-radio class="single_line" label="C"
              >自我牺牲：为他人利益愿意放弃个人意见</el-radio
            >
            <el-radio class="single_line" label="I"
              >善于社交：认为与人相处是好玩，而不是挑战或者商业机会</el-radio
            >
            <el-radio class="single_line" label="D"
              >意志坚定：决心以自己的方式做事</el-radio
            >
          </el-radio-group>
        </el-form-item>

        <el-form-item label="四:" prop="question_four">
          <el-radio-group v-model="ruleForm.question_four">
            <el-radio class="single_line" label="I"
              >使人认同：因人格魅力或性格使人认同</el-radio
            >
            <el-radio class="single_line" label="C"
              >体贴：关心别人的感受与需要</el-radio
            >
            <el-radio class="single_line" label="D"
              >竞争性：把一切当作竞赛，总是有强烈的赢的欲望</el-radio
            >
            <el-radio class="single_line" label="S"
              >自控性：控制自己的情感，极少流露。</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="五:" prop="question_five">
          <el-radio-group v-model="ruleForm.question_five">
            <el-radio class="single_line" label="I"
              >使人振作：给他人清新振奋的刺激</el-radio
            >
            <el-radio class="single_line" label="C"
              >尊重他人：对人诚实尊重</el-radio
            >
            <el-radio class="single_line" label="D"
              >善于应变：对任何情况都能作出有效的反应</el-radio
            >
            <el-radio class="single_line" label="S"
              >含蓄：自我约束情绪与热忱。</el-radio
            >
          </el-radio-group>
        </el-form-item>

        <el-form-item label="六:" prop="question_six">
          <el-radio-group v-model="ruleForm.question_six">
            <el-radio class="single_line" label="I"
              >生机勃勃：充满生命力与兴奋</el-radio
            >
            <el-radio class="single_line" label="S"
              >满足：容易接受任何情况与环境</el-radio
            >
            <el-radio class="single_line" label="C"
              >敏感：对周围的人事过分关心</el-radio
            >
            <el-radio class="single_line" label="D"
              >自立：独立性强，只依靠自己的能力、判断、与才智。</el-radio
            >
          </el-radio-group>
        </el-form-item>

        <el-form-item label="七:" prop="question_seven">
          <el-radio-group v-model="ruleForm.question_seven">
            <el-radio class="single_line" label="C"
              >计划者：先做详尽的计划，并严格要计划进行，不想改动</el-radio
            >
            <el-radio class="single_line" label="S"
              >耐性：不因延误而懊恼，冷静且能容忍</el-radio
            >
            <el-radio class="single_line" label="D"
              >积极：相信自己有转危为安的能力</el-radio
            >
            <el-radio class="single_line" label="I"
              >推动者：动用性格魅力或鼓励别人参与。</el-radio
            >
          </el-radio-group>
        </el-form-item>

        <el-form-item label="八:" prop="question_eight">
          <el-radio-group v-model="ruleForm.question_eight">
            <el-radio class="single_line" label="D"
              >肯定：自信，极少犹豫或者动摇</el-radio
            >
            <el-radio class="single_line" label="I"
              >无拘无束：不喜欢预先计划，或者被计划牵制</el-radio
            >
            <el-radio class="single_line" label="S"
              >羞涩：安静，不善于交谈</el-radio
            >
            <el-radio class="single_line" label="C"
              >有时间性：生活处事依靠时间表，不喜欢计划被人干扰</el-radio
            >
          </el-radio-group>
        </el-form-item>

        <el-form-item label="九:" prop="question_nine">
          <el-radio-group v-model="ruleForm.question_nine">
            <el-radio class="single_line" label="S"
              >迁就：改变自己以与他人协调，短时间内按他人要求行事</el-radio
            >
            <el-radio class="single_line" label="C"
              >井井有条：有系统有条理安排事情的人</el-radio
            >
            <el-radio class="single_line" label="I"
              >坦率：毫无保留，坦率发言</el-radio
            >
            <el-radio class="single_line" label="D"
              >乐观：令他人和自己相信任何事情都会好转</el-radio
            >
          </el-radio-group>
        </el-form-item>

        <el-form-item label="十:" prop="question_ten">
          <el-radio-group v-model="ruleForm.question_ten">
            <el-radio class="single_line" label="D"
              >强迫性：发号施令，强迫他人听从</el-radio
            >
            <el-radio class="single_line" label="C"
              >忠诚：一贯可靠，忠心不移，有时毫无根据地奉献</el-radio
            >
            <el-radio class="single_line" label="I"
              >有趣：风趣，幽默，把任何事物都能变成精彩的故事</el-radio
            >
            <el-radio class="single_line" label="S"
              >友善：不主动交谈，不爱争论</el-radio
            >
          </el-radio-group>
        </el-form-item>

        <el-form-item label="十一:" prop="question_eleven">
          <el-radio-group v-model="ruleForm.question_eleven">
            <el-radio class="single_line" label="D"
              >勇敢：敢于冒险，无所畏惧</el-radio
            >
            <el-radio class="single_line" label="S"
              >体贴：待人得体，有耐心</el-radio
            >
            <el-radio class="single_line" label="C"
              >注意细节：观察入微，做事情有条不紊</el-radio
            >
            <el-radio class="single_line" label="I"
              >可爱：开心，与他人相处充满乐趣</el-radio
            >
          </el-radio-group>
        </el-form-item>

        <el-form-item label="十二:" prop="question_twelve">
          <el-radio-group v-model="ruleForm.question_twelve">
            <el-radio class="single_line" label="I"
              >令人开心：充满活力，并将快乐传于他人</el-radio
            >
            <el-radio class="single_line" label="C"
              >文化修养：对艺术学术特别爱好，如戏剧、交响乐</el-radio
            >
            <el-radio class="single_line" label="D"
              >自信：确信自己个人能力与成功</el-radio
            >
            <el-radio class="single_line" label="S"
              >贯彻始终：情绪平稳，做事情坚持不懈</el-radio
            >
          </el-radio-group>
        </el-form-item>

        <el-form-item label="十三:" prop="question_thirteenth">
          <el-radio-group v-model="ruleForm.question_thirteenth">
            <el-radio class="single_line" label="C"
              >理想主义：以自己完美的标准来设想衡量新事物</el-radio
            >
            <el-radio class="single_line" label="D"
              >独立：自给自足，独立自信，不需要他人帮忙</el-radio
            >
            <el-radio class="single_line" label="S"
              >无攻击性：不说或者做可能引起别人不满和反对的事情</el-radio
            >
            <el-radio class="single_line" label="I"
              >富有激励：鼓励别人参与、加入，并把每件事情变得有趣</el-radio
            >
          </el-radio-group>
        </el-form-item>

        <el-form-item label="十四:" prop="question_fourteenth">
          <el-radio-group v-model="ruleForm.question_fourteenth">
            <el-radio class="single_line" label="I"
              >感情外露：从不掩饰情感.喜好,交谈时常身不由己接触他人</el-radio
            >
            <el-radio class="single_line" label="C"
              >深沉：深刻并常常内省，对肤浅的交谈、消遣会厌恶</el-radio
            >
            <el-radio class="single_line" label="D"
              >果断：有很快做出判断与结论的能力</el-radio
            >
            <el-radio class="single_line" label="S"
              >幽默：语气平和而有冷静的幽默</el-radio
            >
          </el-radio-group>
        </el-form-item>

        <el-form-item label="十五:" prop="question_fifteenth">
          <el-radio-group v-model="ruleForm.question_fifteenth">
            <el-radio class="single_line" label="S"
              >调解者：经常居中调节不同的意见，以避免双方的冲突</el-radio
            >
            <el-radio class="single_line" label="C"
              >音乐性：爱好参与并有较深的鉴赏能力，因音乐的艺术性,而不是因为表演的乐趣</el-radio
            >
            <el-radio class="single_line" label="D"
              >发起人：高效率的推动者，是他人的领导者，闲不住</el-radio
            >
            <el-radio class="single_line" label="I"
              >喜交朋友：喜欢周旋聚会中，善交新朋友不把任何人当陌生人</el-radio
            >
          </el-radio-group>
        </el-form-item>

        <el-form-item label="十六:" prop="question_sixteenth">
          <el-radio-group v-model="ruleForm.question_sixteenth">
            <el-radio class="single_line" label="C"
              >考虑周到：善解人意，帮助别人，记住特别的日子</el-radio
            >
            <el-radio class="single_line" label="D"
              >执着：不达目的，誓不罢休</el-radio
            >
            <el-radio class="single_line" label="I"
              >多言：不断的说话、讲笑话以娱乐他人，觉得应该避免沉默而带来的的尴尬</el-radio
            >
            <el-radio class="single_line" label="S"
              >容忍：易接受别人的想法和看法，不需要反对或改变他人</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="十七:" prop="question_seventeenth">
          <el-radio-group v-model="ruleForm.question_seventeenth">
            <el-radio class="single_line" label="S"
              >聆听者：愿意听别人倾诉</el-radio
            >
            <el-radio class="single_line" label="C"
              >忠心对自己的理想、朋友、工作都绝对忠实，有时甚至不需要理由</el-radio
            >
            <el-radio class="single_line" label="D"
              >领导者：天生的领导，不相信别人的能力能比上自己</el-radio
            >
            <el-radio class="single_line" label="I"
              >活力充沛：充满活力，精力充沛</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="十八:" prop="question_eighteenth">
          <el-radio-group v-model="ruleForm.question_eighteenth">
            <el-radio class="single_line" label="S"
              >知足：满足自己拥有的，很少羡慕别人</el-radio
            >
            <el-radio class="single_line" label="D"
              >首领：要求领导地位及别人跟随</el-radio
            >
            <el-radio class="single_line" label="C"
              >制图者：用图表数字来组织生活，解决问题</el-radio
            >
            <el-radio class="single_line" label="I"
              >惹人喜爱：人们注意的中心，令人喜欢</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="十九:" prop="question_nineteenth">
          <el-radio-group v-model="ruleForm.question_nineteenth">
            <el-radio class="single_line" label="C"
              >完美主义者：对自己、对别人都高标准、一切事物有秩序</el-radio
            >
            <el-radio class="single_line" label="S"
              >和气：易相处，易说话，易让人接近</el-radio
            >
            <el-radio class="single_line" label="D"
              >勤劳：不停的工作，完成任务，不愿意休息</el-radio
            >
            <el-radio class="single_line" label="I"
              >受欢迎：聚会时的灵魂人物，受欢迎的宾客</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="二十:" prop="question_twentieth">
          <el-radio-group v-model="ruleForm.question_twentieth">
            <el-radio class="single_line" label="I"
              >跳跃性：充满活力和生气勃勃</el-radio
            >
            <el-radio class="single_line" label="D"
              >无畏：大胆前进，不怕冒险</el-radio
            >
            <el-radio class="single_line" label="C"
              >规范性：时时坚持自己的举止合乎认同的道德规范</el-radio
            >
            <el-radio class="single_line" label="S"
              >平衡：稳定，走中间路线</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="二十一:" prop="question_twenty_first">
          <el-radio-group v-model="ruleForm.question_twenty_first">
            <el-radio class="single_line" label="S"
              >乏味：死气沉沉，缺乏生气</el-radio
            >
            <el-radio class="single_line" label="C"
              >忸怩：躲避别人的注意力，在众人注意下不自然</el-radio
            >
            <el-radio class="single_line" label="I"
              >露骨：好表现，华而不实，声音大</el-radio
            >
            <el-radio class="single_line" label="D"
              >专横：喜命令支配，有时略显傲慢</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="二十二:" prop="question_twenty_second">
          <el-radio-group v-model="ruleForm.question_twenty_second">
            <el-radio class="single_line" label="I"
              >散漫：生活任性无秩序</el-radio
            >
            <el-radio class="single_line" label="D"
              >无同情心：不易理解别人的问题和麻烦</el-radio
            >
            <el-radio class="single_line" label="S"
              >缺乏热情：不易兴奋，经常感到好事难做</el-radio
            >
            <el-radio class="single_line" label="C"
              >不宽恕：不易宽恕和忘记别人对自己的伤害，易嫉妒</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="二十三:" prop="question_twenty_third">
          <el-radio-group v-model="ruleForm.question_twenty_third">
            <el-radio class="single_line" label="S"
              >保留：不愿意参与，尤其是当事情复杂时</el-radio
            >
            <el-radio class="single_line" label="C"
              >怨恨：把实际或者自己想象的别人的冒犯经常放在心中</el-radio
            >
            <el-radio class="single_line" label="D"
              >逆反：抗拒、或者拒不接受别人的方法，固执己见</el-radio
            >
            <el-radio class="single_line" label="I"
              >唠叨：重复讲同一件事情或故事，忘记已经重复多次，总是不断找话题说话</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="二十四:" prop="question_twenty_fourth">
          <el-radio-group v-model="ruleForm.question_twenty_fourth">
            <el-radio class="single_line" label="C"
              >挑剔：坚持琐事细节，总喜欢挑不足</el-radio
            >
            <el-radio class="single_line" label="S"
              >胆小：经常感到强烈的担心焦虑、悲戚</el-radio
            >
            <el-radio class="single_line" label="I"
              >健忘：缺乏自我约束，导致健忘，不愿意回忆无趣的事情</el-radio
            >
            <el-radio class="single_line" label="D"
              >率直：直言不讳，直接表达自己的看法</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="二十五:" prop="question_twenty_fifth">
          <el-radio-group v-model="ruleForm.question_twenty_fifth">
            <el-radio class="single_line" label="D"
              >没耐性：难以忍受等待别人</el-radio
            >
            <el-radio class="single_line" label="S"
              >无安全感：感到担心且无自信心</el-radio
            >
            <el-radio class="single_line" label="C"
              >优柔寡断：很难下决定</el-radio
            >
            <el-radio class="single_line" label="I"
              >好插嘴：一个滔滔不绝的发言人，不是好听众，不注意别人的说话</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="二十六:" prop="question_twenty_sixth">
          <el-radio-group v-model="ruleForm.question_twenty_sixth">
            <el-radio class="single_line" label="C"
              >不受欢迎：由于强烈要求完美，而拒人千里</el-radio
            >
            <el-radio class="single_line" label="S"
              >不参与：不愿意加入，不参与，对别人生活不感兴趣</el-radio
            >
            <el-radio class="single_line" label="I"
              >难预测：时而兴奋，时而低落，或总是不兑现诺言</el-radio
            >
            <el-radio class="single_line" label="D"
              >缺同情心：很难当众表达对弱者或者受难者的情感</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="二十七:" prop="question_twenty_seventh">
          <el-radio-group v-model="ruleForm.question_twenty_seventh">
            <el-radio class="single_line" label="D"
              >固执：坚持照自己的意见行事，不听不同意见</el-radio
            >
            <el-radio class="single_line" label="I"
              >随兴：做事情没有一贯性，随意做事情</el-radio
            >
            <el-radio class="single_line" label="C"
              >难于取悦：因为要求太高而使别人很难取悦</el-radio
            >
            <el-radio class="single_line" label="S"
              >行动迟缓：迟迟才行动，不易参与或者行动总是慢半拍</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="二十八:" prop="question_twenty_eigth">
          <el-radio-group v-model="ruleForm.question_twenty_eigth">
            <el-radio class="single_line" label="S"
              >平淡：平实淡漠，中间路线,无高低之分，很少表露情感</el-radio
            >
            <el-radio class="single_line" label="C"
              >悲观：尽管期待最好但往往首先看到事物不利之处</el-radio
            >
            <el-radio class="single_line" label="D"
              >自负：自我评价高，认为自己是最好的人选</el-radio
            >
            <el-radio class="single_line" label="I"
              >放任:许别人做他喜欢做的事情，为的是讨好别人，令别人鼓吹自己</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="二十九:" prop="question_twnety_ninth">
          <el-radio-group v-model="ruleForm.question_twnety_ninth">
            <el-radio class="single_line" label="I"
              >易怒：善变，孩子性格，易激动，过后马上就忘了</el-radio
            >
            <el-radio class="single_line" label="S"
              >无目标：不喜欢目标，也无意订目标</el-radio
            >
            <el-radio class="single_line" label="D"
              >好争论：易与人争吵，不管对何事都觉得自己是对的</el-radio
            >
            <el-radio class="single_line" label="C"
              >孤芳自赏：容易感到被疏离，经常没有安全感或担心别人不喜欢和自己相处</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="三十:" prop="question_thirty">
          <el-radio-group v-model="ruleForm.question_thirty">
            <el-radio class="single_line" label="I"
              >天真：孩子般的单纯，不理解生命的真谛</el-radio
            >
            <el-radio class="single_line" label="C"
              >消极：往往看到事物的消极面阴暗面，而少有积极的态度</el-radio
            >
            <el-radio class="single_line" label="D"
              >鲁莽：充满自信有胆识但总是不恰当</el-radio
            >
            <el-radio class="single_line" label="S"
              >冷漠：漠不关心，得过且过</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="三十一:" prop="question_thirty_one">
          <el-radio-group v-model="ruleForm.question_thirty_one">
            <el-radio class="single_line" label="S"
              >担忧：时时感到不确定、焦虑、心烦</el-radio
            >
            <el-radio class="single_line" label="C"
              >不善交际:总喜欢挑人毛病，不被人喜欢</el-radio
            >
            <el-radio class="single_line" label="D"
              >工作狂:为了回报或者说成就感，而不是为了完美，因而设立雄伟目标不断工作，耻于休息</el-radio
            >
            <el-radio class="single_line" label="I"
              >喜获认同：需要旁人认同赞赏，像演员</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="三十二:" prop="question_thirty_two">
          <el-radio-group v-model="ruleForm.question_thirty_two">
            <el-radio class="single_line" label="C"
              >过分敏感：对事物过分反应，被人误解时感到被冒犯</el-radio
            >
            <el-radio class="single_line" label="D"
              >不圆滑老练：经常用冒犯或考虑不周的方式表达自己</el-radio
            >
            <el-radio class="single_line" label="S"
              >胆怯：遇到困难退缩</el-radio
            >
            <el-radio class="single_line" label="I"
              >喋喋不休：难以自控，滔滔不绝，不能倾听别人</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="三十三:" prop="question_thirty_three">
          <el-radio-group v-model="ruleForm.question_thirty_three">
            <el-radio class="single_line" label="S"
              >腼腆：事事不确定，对所做的事情缺乏信心</el-radio
            >
            <el-radio class="single_line" label="I"
              >生活紊乱：缺乏安排生活的能力</el-radio
            >
            <el-radio class="single_line" label="D"
              >跋扈：冲动的控制事物和别人，指挥他人</el-radio
            >
            <el-radio class="single_line" label="C"
              >抑郁：常常情绪低落</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="三十四:" prop="question_thirty_four">
          <el-radio-group v-model="ruleForm.question_thirty_four">
            <el-radio class="single_line" label="I"
              >缺乏毅力：反复无常，互相矛盾，情绪与行动不合逻辑</el-radio
            >
            <el-radio class="single_line" label="C"
              >内向：活在自己的世界里，思想和兴趣放在心里</el-radio
            >
            <el-radio class="single_line" label="D"
              >不容忍：不能忍受他人的观点、态度和做事的方式</el-radio
            >
            <el-radio class="single_line" label="S"
              >无异议：对很多事情漠不关心</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="三十五:" prop="question_thirty_five">
          <el-radio-group v-model="ruleForm.question_thirty_five">
            <el-radio class="single_line" label="I"
              >杂乱无章：生活环境无秩序，经常找不到东西</el-radio
            >
            <el-radio class="single_line" label="C"
              >情绪化：情绪不易高涨，感到不被欣赏时很容易低落</el-radio
            >
            <el-radio class="single_line" label="S"
              >喃喃自语：低声说话，不在乎说不清楚</el-radio
            >
            <el-radio class="single_line" label="D"
              >喜操纵：精明处事，操纵事情，使对自己有利</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="三十六:" prop="question_thirty_six">
          <el-radio-group v-model="ruleForm.question_thirty_six">
            <el-radio class="single_line" label="S"
              >缓慢：行动思想均比较慢，过分麻烦</el-radio
            >
            <el-radio class="single_line" label="D"
              >顽固：决心依自己的意愿行事，不易被说服</el-radio
            >
            <el-radio class="single_line" label="I"
              >好表现：要吸引人，需要自己成为被人注意的中心</el-radio
            >
            <el-radio class="single_line" label="C"
              >有戒心：不易相信，对语言背后的真正的动机存在疑问</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="三十七:" prop="question_thirty_seven">
          <el-radio-group v-model="ruleForm.question_thirty_seven">
            <el-radio class="single_line" label="C"
              >孤僻：需要大量的时间独处，避开人群</el-radio
            >
            <el-radio class="single_line" label="D"
              >统治欲：毫不犹豫地表示自己的正确或控制能力</el-radio
            >
            <el-radio class="single_line" label="S"
              >懒惰：总是先估量事情要耗费多少精力，能不做最好</el-radio
            >
            <el-radio class="single_line" label="I"
              >大嗓门：说话声和笑声总盖过他人</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="三十八:" prop="question_thirty_eight">
          <el-radio-group v-model="ruleForm.question_thirty_eight">
            <el-radio class="single_line" label="S"
              >拖延：凡事起步慢，需要推动力</el-radio
            >
            <el-radio class="single_line" label="C"
              >多疑：凡事怀疑，不相信别人</el-radio
            >
            <el-radio class="single_line" label="D"
              >易怒：对行动不快或不能完成指定工作时易烦躁和发怒</el-radio
            >
            <el-radio class="single_line" label="I"
              >不专注：无法专心致志或者集中精力</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="三十九:" prop="question_thirty_nine">
          <el-radio-group v-model="ruleForm.question_thirty_nine">
            <el-radio class="single_line" label="C"
              >报复性：记恨并惩罚冒犯自己的人</el-radio
            >
            <el-radio class="single_line" label="I"
              >烦躁：喜新厌旧，不喜欢长时间做相同的事情</el-radio
            >
            <el-radio class="single_line" label="S"
              >勉强：不愿意参与或者说投入</el-radio
            >
            <el-radio class="single_line" label="D"
              >轻率：因没有耐心，不经思考，草率行动</el-radio
            >
          </el-radio-group>
        </el-form-item>
        <el-form-item label="四十:" prop="question_forty">
          <el-radio-group v-model="ruleForm.question_forty">
            <el-radio class="single_line" label="S"
              >妥协：为避免矛盾即使自己是对的也不惜放弃自己的立场</el-radio
            >
            <el-radio class="single_line" label="C"
              >好批评：不断地衡量和下判断，经常考虑提出反对意见</el-radio
            >
            <el-radio class="single_line" label="D"
              >狡猾：精明，总是有办法达到目的</el-radio
            >
            <el-radio class="single_line" label="I"
              >善变：像孩子般注意力短暂，需要各种变化，怕无聊</el-radio
            >
          </el-radio-group>
        </el-form-item>

        <el-form-item>
          <el-button type="primary" @click="submitForm('ruleForm')"
            >提交</el-button
          >
        </el-form-item>
      </el-form>
    </div>
  </body>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script>
    new Vue({
      el: '#app',
      data() {
        return {
          ruleForm: {
            question_one: '',
            question_two: '',
            question_three: '',
            question_four: '',
            question_five: '',
            question_six: '',
            question_seven: '',
            question_eight: '',
            question_nine: '',
            question_ten: '',
            question_eleven: '',
            question_twelve: '',
            question_thirteenth: '',
            question_fourteenth: '',
            question_fifteenth: '',
            question_sixteenth: '',
            question_seventeenth: '',
            question_eighteenth: '',
            question_nineteenth: '',
            question_twentieth: '',
            question_twenty_first: '',
            question_twenty_second: '',
            question_twenty_third: '',
            question_twenty_fourth: '',
            question_twenty_fifth: '',
            question_twenty_sixth: '',
            question_twenty_seventh: '',
            question_twenty_eigth: '',
            question_twnety_ninth: '',
            question_thirty: '',
            question_thirty_one: '',
            question_thirty_two: '',
            question_thirty_three: '',
            question_thirty_four: '',
            question_thirty_five: '',
            question_thirty_six: '',
            question_thirty_seven: '',
            question_thirty_eight: '',
            question_thirty_nine: '',
            question_forty: ''
          },
          rules: {
            question_one: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_two: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_three: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_four: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_five: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_six: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_seven: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_eight: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_nine: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_ten: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_eleven: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_twelve: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_thirteenth: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_fourteenth: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_fifteenth: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_sixteenth: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_seventeenth: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_eighteenth: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_nineteenth: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_twentieth: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_twenty_first: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_twenty_second: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_twenty_third: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_twenty_fourth: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_twenty_fifth: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_twenty_sixth: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_twenty_seventh: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_twenty_eigth: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_twnety_ninth: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_thirty: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_thirty_one: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_thirty_two: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_thirty_three: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_thirty_four: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_thirty_five: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_thirty_six: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_thirty_seven: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_thirty_eight: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_thirty_nine: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ],
            question_forty: [
              {
                required: true,
                message: '请至少选择一个选项',
                trigger: 'change'
              }
            ]
          }
        }
      },
      methods: {
        submitForm(formName) {
          var D = 0
          var I = 0
          var S = 0
          var C = 0
          this.$refs[formName].validate(valid => {
            if (valid) {
              var array = Object.values(this.ruleForm)
              for (var i = 0; i < array.length; i++) {
                var value = array[i]
                if (value === 'D') {
                  D++
                } else if (value === 'I') {
                  I++
                } else if (value === 'S') {
                  S++
                } else {
                  C++
                }
              }
              this.goToResult(D, I, S, C)
            } else {
              return false
            }
          })
        },
        goToResult(D, I, S, C) {
          localStorage.setItem('D', D)
          localStorage.setItem('I', I)
          localStorage.setItem('S', S)
          localStorage.setItem('C', C)
          window.location.href = 'result.html'
        }
      }
    })
  </script>
</html>
